<h2> <%= t("auth.register") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :username, t("auth.username").capitalize, class: "form-label" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :email, t("auth.email").capitalize, class: "form-label"  %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password, t("auth.password").capitalize, class: "form-label"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, t("auth.password_confirm").capitalize, class: "form-label"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mt-4">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
