<%= form_with(model: permission) do |form| %>
  <% if permission.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
        <% permission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">

    <div class="col-4 form-group">
        <%= form.label :title, t("permission.title"), class: "form-label", style: "display: block" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="col-4 form-group">
        <%= form.label :main_title, t("permission.main_title"), class: "form-label", style: "display: block" %>
        <%= form.text_field :main_title, class: "form-control" %>
      </div>
      <div class="col-4 form-group">
        <%= form.label :key, t("permission.key"), class: "form-label", style: "display: block" %>
        <%= form.text_field :key, class: "form-control" %>
      </div>
    </div>

    <div class="row">
      <div class="col-4 form-group">
        <%= form.label :route, t("permission.route"), class: "form-label", style: "display: block" %>
        <%= form.text_field :route, class: "form-control" %>
      </div>
      <div class="col-4 form-group">
      <%= form.label :description, t("permission.description"), class: "form-label", style: "display: block" %>
      <%= form.text_field :description, class: "form-control" %>
      </div>
      <div class="col-4 form-group">
        <%= form.label :show_admin_link, t("permission.show_admin_link"), class: "form-label", style: "display: block" %>
        <%= form.check_box :show_admin_link, class: "form-check-input" %>
      </div>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
