<div id="<%= dom_id permission %>">
  <p>
    <strong>Title:</strong>
    <%= permission.title %>
  </p>

  <p>
    <strong>Main title:</strong>
    <%= permission.main_title %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= permission.key %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= permission.description %>
  </p>

  <p>
    <strong>Show admin link:</strong>
    <%= permission.show_admin_link %>
  </p>

</div>
