<h1>Permissions</h1>

<div id="permissions">

  <table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Main Title</th>
          <th scope="col">title</th>
          <th scope="col">key</th>
          <th scope="col">options</th>
        </tr>
      </thead>
      <tbody>
        <% @permissions.each do |permission| %>
          <tr>
            <th scope="row"><%= permission.id %></th>
            <td><%= permission.main_title %></td>
            <td><%= permission.title %></td>
            <td><%= permission.key %></td>
            <td>
              asd
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New permission", new_permission_path %>
